body {
    background: #F5FFFA;
    font-family: 'Noto Sans TC', sans-serif;
}

.error {
    font-weight: bold;
    color: red;
    margin-top: 2px;
}

.form-input {
    width: 100%;
    border-radius: 5px;
    border: solid 1px lightgray;
    background: lightblue;
    color: black;
    padding: 3px 5px;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form-error {
    border: solid 1px red;
    background: darkred;
}

.form-error:focus {
    box-shadow: 0 0 5px rgb(255, 0, 0);
}

.red {
    color: red;
    font-weight: bold;
}

.pagination {
    padding: 40px 0 80px 0;
    text-align: center;
    display: block;
}

.pagination a, .pagination .page-disabled, .mass-actions input {
    display: inline-block;
    border: solid 1px #6a7ddd;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}

.pagination a, .mass-actions input {
    color: white;
    text-decoration: none;
}

.pagination a:hover, .mass-actions input:hover {
    text-decoration: underline;
}

.pagination .page-disabled {
    color: #dddddd
}

.pagination .current-page {
    display: inline-block;
}

.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}

.category-block {
    box-sizing: border-box;
    padding: 5px 10px;
    background: lightblue;
    border: solid 1px lightgray;
    border-radius: 5px;
    color: white;
    display: inline-block;
}

.title {
    font-weight: bold;
    text-decoration: underline;
    margin: 50px 0 10px 0;
    text-align: center;
}

.category-list-container {
    margin: 50px 0;
}

.cat-card {
    margin: 30px 0;
}

.user-delete-container {
    border: solid 1px black;
    border-radius: 5px;
    background: aliceblue;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 50px;
    margin-top: 50px;
}

.article-detail {
    margin-top: 30px;
    padding-bottom: 60px;
}

.create-delete-update {
    border: solid 1px black;
    border-radius: 5px;
    margin-bottom: 100px;
    box-sizing: border-box;
    padding: 50px;
}

.content-container {
    padding-bottom: 50px;
}

.nav-container {
    display: inline-block;
    position: relative;
}

.log-link {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}