{% extends 'base.html' %}

{% block title %}Category List{% endblock %}

{% block content %}
    <h1 class="title">Category List</h1>

    {% if perms.news_client.add_category %}
        <a class="btn btn-outline-dark btn-block" href="{% url 'news_client:category_create' %}">Add new category...</a>
    {% endif %}
    <a class="btn btn-primary btn-block" href="{% url 'news_client:index' %}">Main page...</a>
    <div class="category-list-container">
        {% for category in categories %}
            <div class="card w-100 cat-card">
                <div class="card-body">
                    <h5 class="card-title">Category:</h5>
                    <h5 class="card-title category-block">{{ category.title }}</h5>
                    {% if category.parent_id %}
                        <span style="color: blue">>></span> <h5 class="card-title category-block">{{ category.parent_id.title }}</h5>
                    {% endif %}
                    <br>
                    {% if perms.news_client.change_category %}
                        <a class="btn btn-outline-dark" href="{% url 'news_client:category_update' category.pk %}">Edit...</a>
                    {% endif %}
                    {% if perms.news_client.delete_category %}
                        <a class="btn btn-outline-danger" href="{% url 'news_client:category_delete' category.pk %}">Delete...</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% if categories %}
        <a class="btn btn-primary btn-block" href="{% url 'news_client:index' %}">Main page...</a>
    {% endif %}

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}