{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block content %}
    <h1 class="title">Delete Article</h1>

    <div class="create-delete-update">
        <h1>Are you sure you want to delete the article "{{ article.title }}"?</h1>
        <p>By: {{ article.user_id }}</p>
        <h3>Article description: </h3>
        <p>{{ article.description }}</p>
        <form action="{% url "news_client:article_delete" article.pk %}" method="post">
            {% csrf_token %}
            <p><input id="input-btn-2" class="btn btn-block btn-outline-success" type="submit" value="Да"></p>
            <p><a class="btn btn-block btn-outline-danger" href="{% url 'news_client:article_view' article.pk %}">Cancel</a></p>
        </form>

    </div>
{% endblock %}
