{% extends 'base.html' %}

{% block title %}Update{% endblock %}

{% block content %}
    <h1 class="title">Update Article</h1>
    <div class="create-delete-update">
        {% url "news_client:article_update" pk=article.pk as action_url %}
        {% include 'partial/form.html' with action_url=action_url form_method='post' button_text='Update' %}

        <p><a class="btn btn-block btn-danger mt-2" href="{% url 'news_client:article_view' article.pk %}">Cancel</a></p>
    </div>
{% endblock %}
