{% extends 'base.html' %}

{% block content %}
    <h1 class="title">Article Detail</h1>

    {% if perms.news_client.add_article %}
        <a class="btn btn-outline-dark btn-block" href="{% url 'news_client:article_create' %}">Add new article...</a>
    {% endif %}
        <a class="btn btn-block btn-primary" href="{% url 'news_client:index' %}">Main page</a>
    <div class="article-detail">
        <div class="card">
            {% if article.image %}
                <img src="{{ article.image.url }}" class="card-img-top" width="300" alt="photo">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title" style="text-decoration: underline">{{ article.title }}</h5>
                <hr>
                <h6 class="card-title" style="text-decoration: underline">Description:</h6>
                <p class="text">{{ article.description }}</p>
                <hr>
                <a class="author-link" href="{% url 'accounts:detail' article.user_id.pk %}">Author: {{ article.user_id }}</a>
                <hr>
                <div class="article-actions">
                    {% if perms.news_client.change_article %}
                        <a class="btn btn-outline-dark" href="{% url 'news_client:article_update' article.pk %}">Edit...</a>
                    {% endif %}
                    {% if perms.news_client.delete_article %}
                        <a class="btn btn-outline-danger" href="{% url 'news_client:article_delete' article.pk %}">Delete...</a>
                    {% endif %}
                </div>
            </div>
            <div class="card-footer">
                {% if article.category_id.parent_id %}
                    <div class="category-block">{{ article.category_id.parent_id.title }}</div>
                {% endif %}
                <div class="category-block">{{ article.category_id.title }}</div>
            </div>
        </div>
    </div>
{% endblock %}